---
interface Props {
// prop: type;
}

const {} = Astro.props;
---

<div class="gallery">
    <slot />
</div>
<style>
    .gallery {
        padding-block: var(--space-xl);
        padding-inline: var(--space-xl);
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        overflow: scroll;
        height: 100%;
        width: 100%;
    }
</style>
